<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <packageSources>
    <clear />
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="OneIdentity" value="https://pkgs.dev.azure.com/1id/_packaging/OneIdentity/nuget/v3/index.json" />
    <add key="Experimental" value="https://pkgs.dev.azure.com/1id/_packaging/Experimental/nuget/v3/index.json"/>
  </packageSources>

  <!-- Define mappings by adding package patterns beneath the target source. -->
  <!-- Starling.* packages and NuGet.Common will be restored from OneIdentity, everything else from nuget.org. -->
  <packageSourceMapping>
    <!-- key value for <packageSource> should match key values from <packageSources> element -->
    <packageSource key="nuget.org">
      <package pattern="*" />
    </packageSource>
    <packageSource key="OneIdentity">
      <package pattern="OneCloud.*"/>
      <package pattern="Starling.*" />
      <package pattern="OneIdentity.*" />
      <package pattern="NuGet.Common" />
    </packageSource>
  </packageSourceMapping>
</configuration>
